/* ALL THE COMMENTS ARE MADE IN THE STYLE.SCSS FILE */

@font-face {
  font-family: "HelveticaNeue";
  src: url("/public/fonts/HelveticaNeue.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "museo_slab500";
  src: url("/public/fonts/museo_slab_500-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "museo_slab300";
  src: url("/public/fonts/museo_slab_300-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: HelveticaNeue, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  font-size: inherit;
}

.hidden {
  display: none;
}

.logobox {
  font-family: museo_slab500, Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 0.24px;
  background-color: #e4e4e4;
  width: 88px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* header */
.header {
  height: 85px;
  border: none;
  border-bottom: 1px solid #f4f4f4;
  width: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header a {
  color: black;
}

#subnavheading {
  font-family: museo_slab500, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0.24px;
  color: #afafaf;
  margin: 0px;
  padding: 0px;
  margin-top: 15px;
}

.header ul {
  list-style: none;
  overflow: hidden;
  z-index: 99;
}

.header li a {
  margin: auto;
  text-transform: uppercase;
  color: #3c3c3c;
  font-family: museo_slab500, Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-decoration: none;
  margin-top: 10px;
  z-index: 99;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #3971b1;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 0px;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #3971b1;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #3971b1;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 10px;
  right: 0px;
  width: 150%;
}

.header .menu-icon .navicon:after {
  top: -10px;
  right: 0px;
  width: 50%;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 18px;
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 18px;
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.maincontainer {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.maincontent {
  margin-top: 60px;
}

.contentflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.left {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
  padding-right: 60px;
  border-right: 1px solid #f0f0f0;
}

.left h1 {
  font-family: museo_slab300, Arial, Helvetica, sans-serif;
  font-size: 36px;
  letter-spacing: 0px;
  color: #3c3c3c;
  margin-bottom: 55px;
}

.left h2 {
  color: #646464;
  line-height: 2;
  max-width: 429px;
  font-size: 22px;
  font-family: museo_slab300, Arial, Helvetica, sans-serif;
}

.left h3 {
  color: #3971b1;
  line-height: 1.5;
  max-width: 429px;
  font-size: 26px;
  letter-spacing: 0px;
  margin-top: 90px;
  font-family: museo_slab300, Arial, Helvetica, sans-serif;
}

.right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 60px;
  font-family: museo_slab300, Arial, Helvetica, sans-serif;
}

.right h2 {
  font-family: museo_slab300, Arial, Helvetica, sans-serif;
  margin-top: 60px;
  font-size: 28px;
  color: #383838;
  line-height: 1.5;
  max-width: 429px;
}

.right .contactlinks {
  font-family: HelveticaNeue, Arial, Helvetica, sans-serif;
  margin-top: 50px;
  font-size: 16px;
  color: #8e8e8e;
}

.right h3 {
  color: #3971b1;
  font-size: 26px;
  margin-bottom: 30px;
}

.map #mainmap {
  position: relative;
  left: 50px;
  z-index: -1;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  margin-top: -180px;
  -o-object-position: center;
  object-position: center;
}

.map #tracker {
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 50%;
  right: 27%;
  z-index: -1;
  -webkit-animation: locationpulse 1.2s infinite;
  animation: locationpulse 1.2s infinite;
}

#contactlinks {
  text-decoration: none;
  font-size: 16px;
  color: #8e8e8e;
  letter-spacing: 0px;
}

.salesandredev {
  font-family: HelveticaNeue, Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

.salesandredev h3 {
  font-family: museo_slab300, Arial, Helvetica, sans-serif;
}

.salesandredev a {
  line-height: 32px;
}

.salesandredev .salesandredevmobile {
  display: none;
}

.salesandredevmobile {
  font-family: HelveticaNeue, Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f4f4f4;
}

.salesandredevmobile .title {
  color: #8e8e8e;
}

.salesandredevmobile .content {
  color: #383838;
}

.mainform {
  margin-top: 40px;
}

.mainform .form-group {
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
  margin-bottom: 30px;
}

.mainform .form-group input {
  width: 100%;
  height: 100%;
  color: #3971b1;
  font-size: 16px;
  padding-left: 30px;
  padding-top: 20px;
  border: none;
  outline: none;
}

.mainform .form-group label {
  position: absolute;
  color: #8e8e8e;
  font-size: 16px;
  bottom: 0px;
  left: 0%;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid #d3d3d3;
}

.mainform .form-group label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid #3971b1;
  left: 0px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.mainform .content-name {
  position: absolute;
  bottom: 5px;
  left: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mainform .form-group input:focus + .label-name .content-name,
.mainform .form-group input:valid + .label-name .content-name {
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
  font-size: 12px;
  color: #3971b1;
  margin-bottom: 5px;
}

.mainform .form-group input:focus + .label-name::after,
.mainform .form-group input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.mainform .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.mainform button {
  margin-top: 75px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 150px;
  height: 45px;
  color: #ffffff;
  font-family: museo_slab500, Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
  background: #3971b1;
  border: 0px;
}

.mainform button span i {
  opacity: 0;
  color: white;
  fill: white;
}

.mainform button:hover {
  cursor: pointer;
}

.mainform button:hover span i {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.custom-select {
  width: 100%;
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 25px;
  right: 10px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-color: #3971b1 transparent transparent transparent;
}

/* Point the arrow upwards  */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #3971b1 transparent;
  top: 17px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #8e8e8e;
  font-size: 16px;
  padding: 20px 16px;
  border: 1px solid transparent;
  border-bottom: 1px solid #d3d3d3;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fafafa;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

#mobilebutton {
  margin-top: 260px;
  color: #ffffff;
  font-family: museo_slab500, Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
  border: 0px;
  background-color: #3971b1;
  width: 100%;
  height: 45px;
  display: none;
}

#mobilelink {
  text-decoration: none;
}

.mobileform {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 999;
}

.mobileform a {
  position: relative;
  top: 14%;
  left: 90%;
  font-size: 30px;
  color: #3971b1;
  z-index: 99;
}

.mobileform .mainform button {
  margin-top: 75px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  height: 45px;
  width: 100%;
  color: #ffffff;
  font-family: museo_slab500, Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
  background: #3971b1;
  border: 0px;
}

footer {
  margin-top: 120px;
  padding-top: 52px;
  background-color: #f4f4f4;
}

.footerflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid #eaeaea;
}

.footerlogo {
  width: 25%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.footersitemap {
  width: 25%;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.footersitemap ul {
  padding: 0;
  margin: 0px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: 300px;
}

.footersitemap ul .sites {
  width: 100%;
}

.footersitemap li a {
  padding: 7px;
  display: inline-block;
  text-decoration: none;
  color: #383838;
  font-size: 14px;
}

.footersubscribe {
  width: 25%;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.footersubscribe h5 {
  color: #818181;
  font-size: 19px;
  font-family: museo_slab500, Arial, Helvetica, sans-serif;
  letter-spacing: 0px;
  margin-bottom: 20px;
}

.footersubscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footersubscribe form ::-webkit-input-placeholder {
  padding-left: 11px;
  letter-spacing: 0px;
  color: #818181;
}

.footersubscribe form :-ms-input-placeholder {
  padding-left: 11px;
  letter-spacing: 0px;
  color: #818181;
}

.footersubscribe form ::-ms-input-placeholder {
  padding-left: 11px;
  letter-spacing: 0px;
  color: #818181;
}

.footersubscribe form ::placeholder {
  padding-left: 11px;
  letter-spacing: 0px;
  color: #818181;
}

.footersubscribe form input {
  width: 272px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  margin-bottom: 20px;
  outline: none;
}

.footersubscribe form button {
  color: #ffffff;
  font-family: museo_slab500, Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
  width: 132px;
  height: 40px;
  background: #3971b1;
  border: 0px;
}

.footersubscribe form button:hover {
  cursor: pointer;
}

.footerarrow {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.footerarrow .goUp {
  margin-top: 164px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.footerarrow .goUp a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-decoration: none;
  color: #383838;
  font-size: 14px;
}

.footerarrow .goUp a:hover {
  -webkit-animation: bounce 1.2s 1;
  animation: bounce 1.2s 1;
}

.lastrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 7px 0px;
}

.lastrow p {
  width: 33.33%;
  font-size: 14px;
  color: #818181;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 851px) {
  .map #mainmap {
    position: relative;
    left: 50px;
    z-index: -1;
    max-width: 100%;
    height: 30vh;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: -180px;
    -o-object-position: center;
    object-position: center;
  }
  .map #tracker {
    top: 20%;
    right: 20%;
    height: 30px;
  }
}

@media (max-width: 699px) {
  .header {
    display: inline-block;
  }
  .header .menu {
    background-color: #e1e1e1;
    line-height: 3;
  }
  .maincontent {
    margin-top: 0px;
  }
  .maincontainer {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 23px;
    padding-right: 23px;
  }
  .popupcontainer {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 23px;
    padding-right: 23px;
  }
  .right {
    position: relative;
    padding: 0px;
    overflow-x: hidden;
  }
  .right h2 {
    font-size: 24px;
  }
  .right h3 {
    font-family: museo_slab300, Arial, Helvetica, sans-serif;
    font-size: 24px;
  }
  .right .contactlinks {
    margin-top: 40px;
    line-height: 32px;
    max-width: 90%;
  }
  .right .map {
    position: absolute;
    bottom: 50%;
  }
  .right .map #mainmap {
    max-width: 100%;
    height: 60vh;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    max-width: 100%;
  }
  .right .map #tracker {
    right: 55%;
  }
  #mobilebutton {
    display: inline;
  }
  .d-md-none {
    display: none;
  }
  .footersubscribe {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footersubscribe form button {
    width: 100%;
  }
  .footersitemap {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
    margin: 25px;
  }
  .footersitemap ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footersitemap ul .sites {
    width: 50%;
  }
  .footerlogo {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footerarrow {
    display: none;
  }
  .lastrow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .lastrow p {
    width: 100%;
    line-height: 80px;
  }
  .lastrow #iso {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .lastrow #copyright {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .lastrow img {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .salesandredev .salesandredevmobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .salesandredev .visible {
    display: none;
  }
  .footer {
    margin-top: 75px;
  }
}

@-webkit-keyframes locationpulse {
  0% {
    -webkit-transform: rotate(45deg) scale(0.8);
    transform: rotate(45deg) scale(0.8);
  }
  10% {
    -webkit-transform: rotate(45deg) scale(0.9);
    transform: rotate(45deg) scale(0.9);
  }
  15% {
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(0.8);
    transform: rotate(45deg) scale(0.8);
  }
  100% {
    -webkit-transform: rotate(45deg) scale(0.8);
    transform: rotate(45deg) scale(0.8);
  }
}

@keyframes locationpulse {
  0% {
    -webkit-transform: rotate(45deg) scale(0.8);
    transform: rotate(45deg) scale(0.8);
  }
  10% {
    -webkit-transform: rotate(45deg) scale(0.9);
    transform: rotate(45deg) scale(0.9);
  }
  15% {
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(0.8);
    transform: rotate(45deg) scale(0.8);
  }
  100% {
    -webkit-transform: rotate(45deg) scale(0.8);
    transform: rotate(45deg) scale(0.8);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  10% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  15% {
    -webkit-transform: scale(-15px);
    transform: scale(-15px);
  }
  50% {
    -webkit-transform: scale(-10px);
    transform: scale(-10px);
  }
  100% {
    -webkit-transform: scale(-5px);
    transform: scale(-5px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  10% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  15% {
    -webkit-transform: scale(-15px);
    transform: scale(-15px);
  }
  50% {
    -webkit-transform: scale(-10px);
    transform: scale(-10px);
  }
  100% {
    -webkit-transform: scale(-5px);
    transform: scale(-5px);
  }
}
/*# sourceMappingURL=style.css.map */
